body{
    background-color: darkslateblue;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



.center-column{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;
}

.item-row{
    background-color: cornflowerblue;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: aliceblue;
    font-size: 16px;
    box-shadow: 0 -1px 10px -4px rgba(0,0,0,0.75);
}
